h1 {
  font-size: 7rem;
  font-family: "Major Mono Display", monospace;
}

.background-image .name1 {
  color: darkblue;
  position: fixed;
  top: 26%;
  left: 5%;
  z-index: 1;
}

.background-image .name2 {
  color: orangered;
  position: fixed;
  top: 28%;
  left: 5%;
  z-index: 1;
}

.background-image .name3 {
  color: hotpink;
  position: fixed;
  top: 30%;
  left: 5%;
  z-index: 1;
}

p {
  font-size: 3rem;
  font-family: "Cutive Mono", monospace;
  position: fixed;
  top: 60%;
  left: 6%;
  font-weight: bolder;
  background-color: hsla(180, 15%, 88%, 0.733);
}

@media (min-width: 751px) {
  h1 {
    font-size: 6rem;
  }

  .background-image .name1 {
    top: 30%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name2 {
    top: 32%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name3 {
    top: 34%;
    left: 5%;
    z-index: 1;
  }

  p {
    font-size: 2rem;
    position: fixed;
    top: 65%;
    left: 6%;
  }
}

@media (min-width: 999px) {
  h1 {
    font-size: 8.8rem;
  }

  .background-image .name1 {
    top: 30%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name2 {
    top: 32%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name3 {
    top: 34%;
    left: 5%;
    z-index: 1;
  }

  p {
    font-size: 2.5rem;
    position: fixed;
    top: 75%;
    left: 6%;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 4rem;
  }

  .background-image .name1 {
    color: darkblue;
    position: fixed;
    top: 34%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name2 {
    color: orangered;
    position: fixed;
    top: 36%;
    left: 5%;
    z-index: 1;
  }

  .background-image .name3 {
    color: hotpink;
    position: fixed;
    top: 38%;
    left: 5%;
    z-index: 1;
  }

  p {
    font-size: 2em;
    position: fixed;
    top: 62%;
    left: 6%;
    overflow-wrap: break-word;
  }
}
